Debug/
*.cproject
*.project
*.pydevproject
*.png
*.pyc
animation_south/
animation_test_v/
animation_test_g/
local/
pre_3_fields/
pre_300_fields/
pre_5_fields/
post_3_fields/
post_5_fields/
post_5_eq_fields/
ALLCAL2_1-7-11_no-creep_dyn-05_st-20.h5
ALLCAL2_3_4_14_southern_SAF_no-creep_dyn-0-5_st-20_10000yr.h5
backslip_only/
demo_big.h5
time_series_test/
